name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

        
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 3.1
        
    - name: Set Timezone
      # You may pin to the exact commit or the version.
      # uses: szenius/set-timezone@dd47655c84241eec2ffa0a855959c16c0920c3c4
      uses: szenius/set-timezone@v1.0
      with:
      # Desired timezone for Linux
       timezoneLinux: "Europe/London"
      # Desired timezone for MacOS
       timezoneMacos: "Europe/London"
      # Desired timezone for Windows
       timezoneWindows: "Europe/London"
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --no-restore 

    - name: Test
      run: dotnet test --no-build --verbosity normal || true 
      ## Having true at the end means the build
      ## can still pass when there is a failed test case, it leaves it up to the report to tell you it
      ## failed
      
    - name: Report
      uses: JamesIves/github-pages-deploy-action@4.1.5
      with:
        GITHUB_TOKEN: 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
        branch: gh-pages
        folder: ./Thinscale.Challenging.DOM/bin/Debug/netcoreapp3.1/Reports/
        timezone: Europe/London
        fail-on-error: false
      
  
